<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.name %> !</h1>
    <p>Parce qu'un jour coder sera comme écrire, lire et compter...</p>
    <p>The Hacking Project t'offre l'opportunité d'apprendre à developper en 3 mois !</p>
    <p>
      Pour t'inscrire, c'est par ici : <%= @url %>.
    </p>
    <p>A très vite !</p>
  </body>
</html>
